# You can define code owners in public repositories with 
# GitHub Free and GitHub Free for organizations, 
# and in public and private repositories with 
# GitHub Pro, GitHub Team, GitHub Enterprise Cloud, 
# and GitHub Enterprise Server.


# Default reviewers/codeowners for all code changes
* @kmcosta